@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);

* {
    font-family: 'Droid Sans', sans-serif;
}

body {
    padding-top: 20px;
}

.ajaxContent {
    border: solid 1px #999; min-height: 200px; width: 200px;
}

.well {
    background-image: none;
    background-color: #DCCEB0!important;
}

#products-list tr :nth-child(9) {
    min-width: 150px;
    max-width: 150px;
}